<div class="row">
  <div class="col-lg-12">
    <div class="kt-container--fluid  kt-grid__item kt-grid__item--fluid">
      <!-- Begin:: Portlet -->
      <div class="kt-portlet">
        <div class="kt-portlet__body">
          <div class="kt-widget kt-widget--user-profile-3">
            <div class="kt-widget__top">
              <div class="kt-widget__media">
                <img
                  src="https://keenthemes.com//metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_12.jpg"
                  alt="image">
              </div>
              <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-bolder kt-font-light kt-hidden">JM</div>
              <div class="kt-widget__content">
                <div class="kt-widget__head">
                  <div class="kt-widget__user">
                    <a
                      href="#"
                      class="kt-widget__username">
                      Sean Bold
                    </a>
                    <span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-success">Recruiter</span>
                  </div>

                  <div class="kt-widget__action">
                    <div>
                      <a
                        routerLink="/editmyprofile"
                        href="javascript:;"
                        class="btn btn-label-brand btn-sm btn-upper">
                        Edit Profile
                      </a>
                    </div>
                  </div>
                </div>

                <div class="kt-widget__subhead">
                  <span class="span-label">
                    <i class="flaticon2-new-email"></i>
                    rakesh.shriwas88@gmail.com
                  </span>
                  <span class="span-label">
                    <i class="flaticon2-phone"></i>
                    9827622894
                  </span>
                </div>

                <div class="kt-widget__info">
                  <div class="kt-widget__desc">
                    I distinguish three main text objektive could be merely to inform people.
                    <br>
                    A second could be persuade people.You want people to bay objective
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End:: Portlet -->
    </div>
  </div>
</div>
