<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
<div
  perfectScrollbar
  [ngStyle]="{'max-height': '43vh', 'position': 'relative'}"
  class="mat-table__wrapper mat-table__wrapper--dashboard mb-4">
  <!-- Checkbox Column -->
  <!-- Table with selection -->
  <!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
  <table
    mat-table
    class="lmat-elevation-z8"
    [dataSource]="dataSource"
    matSort
    matSortActive="id"
    matSortDirection="asc"
    matSortDisableClear>
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
        Job Code
      </th>
      <td
        mat-cell
        *matCellDef="let product"
        class="mat-column-vinCode">
        {{product.id}}
      </td>
    </ng-container>

    <ng-container matColumnDef="cManufacture">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
        Position
      </th>
      <td
        mat-cell
        *matCellDef="let product">

        <a
          matTooltip="View Detail"
          matTooltipPosition="above"
          href="javascript:;"
          routerLink="/jobdetail">
          {{product.cManufacture}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="cModel">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
        Location
      </th>
      <td
        mat-cell
        *matCellDef="let product">
        {{product.cModel}}
      </td>
    </ng-container>

    <ng-container matColumnDef="cModelYear">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
        Type
      </th>
      <td
        mat-cell
        *matCellDef="let product">
        {{product.cModelYear}}
      </td>
    </ng-container>

    <ng-container matColumnDef="cMileage">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
        Matched Profile
      </th>
      <td
        mat-cell
        *matCellDef="let product">
        <mat-chip-list aria-label="Fish selection">

          <mat-chip
            color="accent"
            selected>
            {{product.cMileage}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>
    <tbody>
      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"></tr>
    </tbody>
  </table>

  <div
    class="mat-table__message"
    *ngIf="!dataSource.hasItems">
    No records found
  </div>
</div>
<!-- start: BOTTOM -->
<div class="mat-table__bottom mat-table__bottom--padding">
  <mat-spinner
    [diameter]="20"
    *ngIf="dataSource.loading$ | async"></mat-spinner>
  <mat-paginator
    [pageSize]="6"
    [pageSizeOptions]="[3, 6, 15]"
    [length]="dataSource.paginatorTotal$ | async"
    [showFirstLastButtons]="true"></mat-paginator>
</div>
<!-- end: BOTTOM -->
