<div class="row">
  <div class="col-lg-12">
    <div class="kt-container--fluid  kt-grid__item kt-grid__item--fluid">
      <!-- Begin:: Portlet -->
      <div class="kt-portlet">
        <div class="kt-portlet__body">
          <div class="kt-widget kt-widget--user-profile-3">
            <div class="kt-widget__top">
              <div class="kt-widget__media">
                <img
                  src="https://keenthemes.com//metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_12.jpg"
                  alt="image">
              </div>
              <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-bolder kt-font-light kt-hidden">JM</div>
              <div class="kt-widget__content">
                <div class="kt-widget__head">
                  <div class="kt-widget__user">
                    <a
                      href="#"
                      class="kt-widget__username">
                      Rakesh Shriwas
                    </a>
                    <span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-success">Fontend Developer</span>
                  </div>

                  <div class="kt-widget__action">
                    <a
                      href="#"
                      class="btn btn-label-brand btn-sm btn-upper">
                      Call
                    </a>

                    <div class="dropdown dropdown-inline">
                      <a
                        href="#"
                        class="btn btn-brand btn-sm btn-upper">
                        Email
                      </a>

                    </div>
                  </div>
                </div>

                <div class="kt-widget__subhead">
                  <a href="#">
                    <i class="flaticon2-new-email"></i>
                    rakesh.shriwas88@gmail.com
                  </a>
                  <a href="#">
                    <i class="flaticon2-phone"></i>
                    9827622894
                  </a>
                  <a href="#">
                    <i class="flaticon2-placeholder"></i>
                    Indore
                  </a>
                </div>

                <div class="kt-widget__info">
                  <div class="kt-widget__desc">
                    I distinguish three main text objektive could be merely to inform people.
                    <br>
                    A second could be persuade people.You want people to bay objective
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End:: Portlet -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <!-- <mat-card style="padding-top: 5px;">
      <mat-tab-group>
        <mat-tab label="Activity">
          <div
            class="tab-pane active"
            id="kt_apps_contacts_view_tab_1"
            role="tabpanel">

            <form>
              <div class="form-group">
                <textarea
                  class="form-control"
                  id="exampleTextarea"
                  rows="3"
                  placeholder="Type notes"></textarea>
              </div>
              <div class="row">
                <div class="col">
                  <a
                    href="#"
                    class="btn btn-label-brand btn-bold">
                    Add notes
                  </a>
                  <a
                    href="#"
                    class="btn btn-clean btn-bold">
                    Cancel
                  </a>
                </div>
              </div>
            </form>

            <div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>

            <div
              class="kt-notes kt-scroll kt-scroll--pull ps ps--active-y"
              data-scroll="true"
              style="height: 700px; overflow: hidden;">
              <div class="kt-notes__items">
                <div class="kt-notes__item">
                  <div class="kt-notes__media">
                    <img
                      class="kt-hidden-"
                      src="https://keenthemes.com/metronic/themes/metronic/theme/default/demo1/dist/assets/media//users/100_3.jpg"
                      alt="image">
                    <span class="kt-notes__icon kt-font-boldest kt-hidden">
                                                <i class="flaticon2-cup"></i></span>
                    <h3 class="kt-notes__user kt-font-boldest kt-hidden">
                                                N S                                                       
                                            </h3>
                  </div>
                  <div class="kt-notes__content">
                    <div class="kt-notes__section">
                      <div class="kt-notes__info">
                        <a
                          href="#"
                          class="kt-notes__title">
                          New order
                        </a>
                        <span class="kt-notes__desc">
                                                        9:30AM 16 June, 2015
                                                    </span>
                        <span class="kt-badge kt-badge--success kt-badge--inline">new</span>
                      </div>
                      <div class="kt-notes__dropdown">
                        <a
                          href="#"
                          class="btn btn-sm btn-icon-md btn-icon"
                          data-toggle="dropdown">
                          <i class="flaticon-more-1 kt-font-brand"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="kt-nav">
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-line-chart"></i><span class="kt-nav__link-text">Reports</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-send"></i><span class="kt-nav__link-text">Messages</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-pie-chart-1"></i><span class="kt-nav__link-text">Charts</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-avatar"></i><span class="kt-nav__link-text">Members</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-settings"></i><span class="kt-nav__link-text">Settings</span>
                              </a>
        </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <span class="kt-notes__body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                                            </span>
                  </div>
                </div>
                <div class="kt-notes__item">
                  <div class="kt-notes__media">
                    <span class="kt-notes__icon">
                                                <i class="flaticon2-rocket kt-font-danger"></i></span>
                  </div>
                  <div class="kt-notes__content">
                    <div class="kt-notes__section">
                      <div class="kt-notes__info">
                        <a
                          href="#"
                          class="kt-notes__title">
                          Notification
                        </a>
                        <span class="kt-notes__desc">
                                                        10:30AM 23 May, 2013
                                                    </span>
                      </div>
                      <div class="kt-notes__dropdown">
                        <a
                          href="#"
                          class="btn btn-sm btn-icon-md btn-icon"
                          data-toggle="dropdown">
                          <i class="flaticon2-rectangular kt-font-brand"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="kt-nav">
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-line-chart"></i><span class="kt-nav__link-text">Reports</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-send"></i><span class="kt-nav__link-text">Messages</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-pie-chart-1"></i><span class="kt-nav__link-text">Charts</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-avatar"></i><span class="kt-nav__link-text">Members</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-settings"></i><span class="kt-nav__link-text">Settings</span>
                              </a>
        </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <span class="kt-notes__body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                                            </span>
                  </div>
                </div>
                <div class="kt-notes__item">
                  <div class="kt-notes__media">
                    <h3 class="kt-notes__user kt-font-brand kt-font-boldest">
                                                DS                                                        
                                            </h3>
                  </div>
                  <div class="kt-notes__content">
                    <div class="kt-notes__section">
                      <div class="kt-notes__info">
                        <a
                          href="#"
                          class="kt-notes__title">
                          System alert
                        </a>
                        <span class="kt-notes__desc">
                                                        7:10AM 21 February, 2016
                                                    </span>
                      </div>
                      <div class="kt-notes__dropdown">
                        <a
                          href="#"
                          class="btn btn-sm btn-icon-md btn-icon"
                          data-toggle="dropdown">
                          <i class="flaticon2-note kt-font-brand"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="kt-nav">
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-line-chart"></i><span class="kt-nav__link-text">Reports</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-send"></i><span class="kt-nav__link-text">Messages</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-pie-chart-1"></i><span class="kt-nav__link-text">Charts</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-avatar"></i><span class="kt-nav__link-text">Members</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-settings"></i><span class="kt-nav__link-text">Settings</span>
                              </a>
        </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <span class="kt-notes__body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                                            </span>
                  </div>
                </div>
                <div class="kt-notes__item">
                  <div class="kt-notes__media">
                    <span class="kt-notes__icon">
                                                <i class="flaticon2-poll-symbol kt-font-success"></i></span>
                  </div>
                  <div class="kt-notes__content">
                    <div class="kt-notes__section">
                      <div class="kt-notes__info">
                        <a
                          href="#"
                          class="kt-notes__title">
                          New order
                        </a>
                        <span class="kt-notes__desc">
                                                        10:30AM 23 May, 2013
                                                    </span>
                      </div>
                      <div class="kt-notes__dropdown">
                        <a
                          href="#"
                          class="btn btn-sm btn-icon-md btn-icon"
                          data-toggle="dropdown">
                          <i class="flaticon2-gear kt-font-brand"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="kt-nav">
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-line-chart"></i><span class="kt-nav__link-text">Reports</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-send"></i><span class="kt-nav__link-text">Messages</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-pie-chart-1"></i><span class="kt-nav__link-text">Charts</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-avatar"></i><span class="kt-nav__link-text">Members</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-settings"></i><span class="kt-nav__link-text">Settings</span>
                              </a>
        </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <span class="kt-notes__body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                                            </span>
                  </div>
                </div>
                <div class="kt-notes__item">
                  <div class="kt-notes__media">
                    <span class="kt-notes__icon">
                                                <i class="flaticon2-box-1 kt-font-brand"></i></span>
                  </div>
                  <div class="kt-notes__content">
                    <div class="kt-notes__section">
                      <div class="kt-notes__info">
                        <a
                          href="#"
                          class="kt-notes__title">
                          Notification
                        </a>
                        <span class="kt-notes__desc">
                                                        10:30AM 23 May, 2013
                                                    </span>
                      </div>
                      <div class="kt-notes__dropdown">
                        <a
                          href="#"
                          class="btn btn-sm btn-icon-md btn-icon"
                          data-toggle="dropdown">
                          <i class="flaticon2-sort kt-font-brand"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="kt-nav">
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-line-chart"></i><span class="kt-nav__link-text">Reports</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-send"></i><span class="kt-nav__link-text">Messages</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-pie-chart-1"></i><span class="kt-nav__link-text">Charts</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-avatar"></i><span class="kt-nav__link-text">Members</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-settings"></i><span class="kt-nav__link-text">Settings</span>
                              </a>
        </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <span class="kt-notes__body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                                            </span>
                  </div>
                </div>
                <div class="kt-notes__item">
                  <div class="kt-notes__media">
                    <span class="kt-notes__icon">
                                                <i class="flaticon2-rocket kt-font-danger"></i></span>
                  </div>
                  <div class="kt-notes__content">
                    <div class="kt-notes__section">
                      <div class="kt-notes__info">
                        <a
                          href="#"
                          class="kt-notes__title">
                          Notification
                        </a>
                        <span class="kt-notes__desc">
                                                        10:30AM 23 May, 2013
                                                    </span>
                      </div>
                      <div class="kt-notes__dropdown">
                        <a
                          href="#"
                          class="btn btn-sm btn-icon-md btn-icon"
                          data-toggle="dropdown">
                          <i class="flaticon2-rectangular kt-font-brand"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="kt-nav">
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-line-chart"></i><span class="kt-nav__link-text">Reports</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-send"></i><span class="kt-nav__link-text">Messages</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-pie-chart-1"></i><span class="kt-nav__link-text">Charts</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-avatar"></i><span class="kt-nav__link-text">Members</span>
                              </a>
        </li>
                            <li class="kt-nav__item">
            <a
                                href="#"
                                class="kt-nav__link"><i class="kt-nav__link-icon flaticon2-settings"></i><span class="kt-nav__link-text">Settings</span>
                              </a>
        </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <span class="kt-notes__body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                                            </span>
                  </div>
                </div>
                <div class="kt-notes__item kt-notes__item--clean">
                  <div class="kt-notes__media">
                    <img
                      class="kt-hidden"
                      src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media//users/100_1.jpg"
                      alt="image">
                    <span class="kt-notes__icon kt-font-boldest kt-hidden">
                                                <i class="flaticon2-cup"></i></span>
                    <h3 class="kt-notes__user kt-font-boldest kt-hidden">
                                                M E                                                     
                                            </h3>
                    <span class="kt-notes__circle kt-hidden-"></span>
                  </div>

                  <div class="kt-notes__content">
                    <div class="kt-notes__section">
                      <div class="kt-notes__info">
                        <a
                          href="#"
                          class="kt-notes__title">
                          Order
                        </a>
                        <span class="kt-notes__desc">
                                                        11:40AM 14 March, 2012
                                                    </span>
                        <span class="kt-badge kt-badge--danger kt-badge--inline">important</span>
                      </div>
                    </div>
                    <span class="kt-notes__body">Sed ut sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                                            </span>
                  </div>
                </div>
                <div class="kt-notes__item kt-notes__item--clean">
                  <div class="kt-notes__media">
                    <img
                      class="kt-hidden"
                      src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media//users/100_1.jpg"
                      alt="image">
                    <span class="kt-notes__icon kt-font-boldest kt-hidden">
                                                <i class="flaticon2-cup"></i></span>
                    <h3 class="kt-notes__user kt-font-boldest kt-hidden">
                                                N B                                                        
                                            </h3>
                    <span class="kt-notes__circle kt-hidden-"></span>
                  </div>

                  <div class="kt-notes__content">
                    <div class="kt-notes__section">
                      <div class="kt-notes__info">
                        <a
                          href="#"
                          class="kt-notes__title">
                          Remarks
                        </a>
                        <span class="kt-notes__desc">
                                                        10:30AM 23 April, 2013
                                                    </span>
                      </div>
                    </div>
                    <span class="kt-notes__body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                                            </span>
                  </div>
                </div>
              </div>
              <div
                class="ps__rail-x"
                style="left: 0px; bottom: 0px;">
                <div
                  class="ps__thumb-x"
                  tabindex="0"
                  style="left: 0px; width: 0px;"></div>
              </div>
              <div
                class="ps__rail-y"
                style="top: 0px; height: 700px; right: -2px;">
                <div
                  class="ps__thumb-y"
                  tabindex="0"
                  style="top: 0px; height: 300px;"></div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Resume">
          <div class="row">
            <div class="col-lg-12"></div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card> -->
    <mat-card>
      <form
        class="kt-form kt-form--label-right"
        action>
        <div class="kt-form__body">
          <div class="kt-section kt-section--first">
            <div class="kt-section__body">
              <div class="row">
                <label class="col-xl-3"></label>
                <div class="col-lg-9 col-xl-6">
                  <h3 class="kt-section__title kt-section__title-sm">Personal Info:</h3>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">First Name</label>
                <div class="col-lg-9 col-xl-6">
                  <input
                    class="form-control"
                    type="text"
                    value="Nick">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Last Name</label>
                <div class="col-lg-9 col-xl-6">
                  <input
                    class="form-control"
                    type="text"
                    value="Bold">
                </div>
              </div>

              <div class="row">
                <label class="col-xl-3"></label>
                <div class="col-lg-9 col-xl-6">
                  <h3 class="kt-section__title kt-section__title-sm">Contact Info:</h3>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Contact Phone</label>
                <div class="col-lg-9 col-xl-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="la la-phone"></i></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      value="+35278953712"
                      placeholder="Phone"
                      aria-describedby="basic-addon1">
                  </div>
                  <span class="form-text text-muted">We'll never share your email with anyone else.</span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
                <div class="col-lg-9 col-xl-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="la la-at"></i></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      value="nick.bold@loop.com"
                      placeholder="Email"
                      aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div
          class="kt-separator kt-separator--space-lg kt-separator--fit kt-separator--border-solid"
          style="margin: 1.5rem 0;"></div>
        <div
          class="kt-form__actions"
          style="padding: 0;">
          <div class="row">
            <div class="col-xl-3"></div>
            <div class="col-lg-9 col-xl-6">
              <a
                href="#"
                class="btn btn-label-brand btn-bold">
                Save changes
              </a>
              <a
                href="#"
                class="btn btn-clean btn-bold">
                Cancel
              </a>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
